.cu-modal {
  height: 0px;
  display: block;
  position: relative;
  .modal-mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .modal-content-wrap {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    .modal-content {
      position: relative;
      top: 100px;
      width: 500px;
      max-width: calc(100vw - 32px);
      margin: auto;
      background: #fff;
      border-radius: 6px;
      padding: 20px;
      .modal-body {
      }
      .modal-footer {
        text-align: end;
        .ok-btn {
          cursor: pointer;
          color: #fff;
          background-color: #1677ff;
          box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
          font-size: 14px;
          height: 32px;
          padding: 4px 15px;
          border-radius: 6px;
          border: 2px solid transparent;
        }
      }
    }
  }
  .title {
  }
}

.cu-modal.hidden {
  display: none;
}
